#matsushibadenki/snn4/requirements.txt

streamlit
fastapi
uvicorn
python-dotenv
dependency-injector
torch
torchvision
torchaudio
langchain
langchain-community
langchain-core
langchain-experimental
langchain-openai
llama-index
pyyaml
pandas
numpy<2.0
scikit-learn
matplotlib
seaborn
tqdm
beautifulsoup4
requests
langchain-huggingface
langchain-huggingface
googlesearch-python
